# Ignore all bin directories
bin/
target/
/target

# Ignore all files ending with ~
*~
*.class
*.zip
# Ignore the target directory
# Matches "target" in any subfolder.ant.properties
.settings/

.cache
.jxta