<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="net.jxse.project" sequenceNumber="109">
	<locations>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\target\osgi" type="Directory"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\target\log" type="Directory"/>
	</locations>
</target>