<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="jxse-target" sequenceNumber="109">
	<locations>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\lib\osgi" type="Directory"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\lib\Derby" type="Directory"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\lib\H2" type="Directory"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\lib\Netty" type="Directory"/>
		<location path="${eclipse_home}" type="Profile"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.project\lib\Jetty" type="Directory"/>
	</locations>
	<includeBundles>
		<plugin id="derby"/>
		<plugin id="derbyclient"/>
		<plugin id="javax.servlet"/>
		<plugin id="javax.servlet.source"/>
		<plugin id="org.apache.felix.gogo.command"/>
		<plugin id="org.apache.felix.gogo.command.source"/>
		<plugin id="org.apache.felix.gogo.runtime"/>
		<plugin id="org.apache.felix.gogo.runtime.source"/>
		<plugin id="org.apache.felix.gogo.shell"/>
		<plugin id="org.apache.felix.gogo.shell.source"/>
		<plugin id="org.eclipse.equinox.console"/>
		<plugin id="org.eclipse.equinox.console.source"/>
		<plugin id="org.eclipse.equinox.ds"/>
		<plugin id="org.eclipse.equinox.http.jetty"/>
		<plugin id="org.eclipse.equinox.http.jetty.source"/>
		<plugin id="org.eclipse.jdt.junit"/>
		<plugin id="org.eclipse.jdt.junit.core"/>
		<plugin id="org.eclipse.jdt.junit.runtime"/>
		<plugin id="org.eclipse.jdt.junit4.runtime"/>
		<plugin id="org.eclipse.jetty.continuation"/>
		<plugin id="org.eclipse.jetty.continuation.source"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.http.source"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.io.source"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.security.source"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.server.source"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.servlet.source"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.source"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.services.source"/>
		<plugin id="org.eclipse.osgi.source"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.osgi.util.source"/>
		<plugin id="org.eclipse.swtbot.junit4_x"/>
		<plugin id="org.hamcrest.core"/>
		<plugin id="org.jboss.netty"/>
		<plugin id="org.junit"/>
		<plugin id="org.osgi.service.jdbc"/>
		<plugin id="org.slf4j.api"/>
		<plugin id="com.h2database"/>
		<plugin id="org.mortbay.jetty.server"/>
		<plugin id="org.mortbay.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.ajax"/>
		<plugin id="org.eclipse.jetty.util.ajax.source"/>
	</includeBundles>
</target>