<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="test.net.jxse" sequenceNumber="109">
	<locations>
		<location path="${eclipse_home}" type="Profile"/>
		<location path="P:\GitHub\jxse-osgi\Workspace\net.jxse.library\target\lib" type="Directory"/>
	</locations>
</target>