<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="net.chaupal.practical.jxta"/>
        <setEntry value="net.jxta.tutorial"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/test.net.jxta.standalone"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=test.net.jxta.standalone"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="test.net.jxta.standalone"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value=""/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="derby@default:default"/>
        <setEntry value="javax.servlet*3.1.0.20170128@default:default"/>
        <setEntry value="javax.servlet*3.1.0.v201410161800@default:default"/>
        <setEntry value="org.apache.felix.gogo.command*0.10.0.v201209301215@default:default"/>
        <setEntry value="org.apache.felix.gogo.command*1.1.0.v20201023-1558@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime*0.10.0.v201209301036@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime*1.1.2.v20201023-1558@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell*0.10.0.v201211091412@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell*1.1.2.v20201023-1558@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.http.jetty*3.0.200.v20131021-1843@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty*3.7.500.v20200915-1207@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jboss.netty@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.osgi.service.jdbc@default:default"/>
        <setEntry value="org.slf4j.api*1.7.2.v20121108-1250@default:default"/>
        <setEntry value="org.slf4j.api*1.7.30.v20200204-2150@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="net.jxse@default:default"/>
        <setEntry value="net.jxta.impl.cm.sql.derby@default:false"/>
        <setEntry value="net.jxta.impl.cm.sql.h2@default:false"/>
        <setEntry value="net.jxta.impl.endpoint.netty@default:false"/>
        <setEntry value="net.jxta.impl.endpoint.servlethttp@default:false"/>
        <setEntry value="net.jxta@default:default"/>
        <setEntry value="org.spongycastle.fragment@default:false"/>
        <setEntry value="test.net.jxse@default:false"/>
        <setEntry value="test.net.jxta.standalone@default:default"/>
        <setEntry value="test.net.jxta@default:false"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
