<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Test Standalone Bundle"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="net.chaupal.practical.jxta"/>
        <setEntry value="net.jp2p.chaupal"/>
        <setEntry value="net.jp2p.chaupal.jxta.platform"/>
        <setEntry value="net.jp2p.container"/>
        <setEntry value="net.jp2p.jxta"/>
        <setEntry value="net.jxta.tutorial"/>
        <setEntry value="test.net.jxse"/>
        <setEntry value="test.net.jxta"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="derby@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.ws.rs-api@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.jetty.continuation@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.jboss.netty@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.osgi.service.jdbc@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="net.jp2p.builder@default:default"/>
        <setEntry value="net.jp2p.jxse@default:default"/>
        <setEntry value="net.jxse@default:default"/>
        <setEntry value="net.jxta.impl.cm.sql.derby@default:false"/>
        <setEntry value="net.jxta.impl.cm.sql.h2@default:false"/>
        <setEntry value="net.jxta.impl.endpoint.netty@default:false"/>
        <setEntry value="net.jxta.impl.endpoint.servlethttp@default:false"/>
        <setEntry value="net.jxta@default:default"/>
        <setEntry value="org.chaupal.rdv@default:default"/>
        <setEntry value="org.spongycastle.fragment@default:false"/>
        <setEntry value="test.net.jxta.standalone@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
